ALTER TABLE STRANG.INVOICES
  DROP CONSTRAINT AVCON_58043_BILLI_000;

ALTER TABLE STRANG.INVOICES ADD (
  CONSTRAINT AVCON_58043_BILLI_000
  CHECK (BILLINGMONTH IN ('MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'JAN', 'FEB')));
