ALTER TABLE STRANG.INVOICES
  DROP CONSTRAINT AVCON_47383_COMPL_000;

ALTER TABLE STRANG.INVOICES ADD (
  CONSTRAINT AVCON_47383_COMPL_000
  CHECK (COMPLETED IN ('COMPLETE', 'INCOMPLETE', 'CANCELLED')));
