ALTER TABLE STRANG.INVOICES
  DROP CONSTRAINT AVCON_47383_BILLI_000;

ALTER TABLE STRANG.INVOICES ADD (
  CONSTRAINT AVCON_47383_BILLI_000
  CHECK (BILLINGMONTH IN ('MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'JAN', 'FEB', 'MAR', 'APR')));
